table {
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em, arial, helvetica, sans-serif;
}
tr {
    height: 16.02vh;
    background-color: #4e494d;
}
td {
    width: 25vw;
    border: 1px solid #4e494d;
}

#inputBox {
    background-color: #4e494d;
    text-align: right;
    width: 100%;
    border: 0px;
    font-size: 2em;
    color: #fff;

}

.digitButton {
    background-color: #807e80;
    
}
.operatorButton {
    background-color: #ff8306;
}
.acButton {
    background-color: #656165;
}